@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: hsl(163, 74%, 39%);
  --error: hsl(341, 81%, 50%);
  --error-bg: hsl(0, 100%, 97%);
  --main-bg: hsl(0, 0%, 95%);
  --secondary-bg: hsl(0, 0%, 100%);
  --main-color: hsl(0, 0%, 20%);
  --secondary-color: hsl(0, 0%, 33%);
  --tertiary-color: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 87%);
  --box-shadow: hsla(0, 0%, 0%, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-bg);
  font-family: 'Poppins';
}

/* navbar */
header {
  background: var(--secondary-bg);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
}
header a {
  color: var(--main-color);
  text-decoration: none;
}

/* home */
.home {
  display: grid;
  max-width: 1400px;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin: 20px auto;
  padding: 10px 20px;
}

/* workout-details */
.workout-details {
  position: relative;
  background: var(--secondary-bg);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px var(--box-shadow);
}
.workout-details h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: var(--primary);
}
.workout-details p {
  font-size: 0.9rem;
  color: var(--secondary-color);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--main-bg);
  color: var(--main-color);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

/* workout-form */
form h3 {
  color: var(--main-color);
  margin-bottom: 20px;
}
form label,
form input {
  display: block;
}
form input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
}
form button {
  background: var(--primary);
  color: var(--tertiary-color);
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
form input.error {
  border: 1px solid var(--error);
}
form div.error {
  border: 1px solid var(--error);
  padding: 10px;
  background: var(--error-bg);
  color: var(--error);
  border-radius: 4px;
}
